:root {
    --color-theme-1: #ff4000be;
	--color-theme-2: #40b3ff;
    --color-theme-darkblue: #16213E;
    --color-theme-blue: #0F3460;
    --color-theme-purple: #533483;
    --color-theme-pink: #ff7088;
}

/* #ff3e00 */

/* body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-theme-darkblue);
} */

main {
    padding: 1em;
}

h1, h2, h3, h4, h5 {
    color: var(--color-theme-pink);
}

p, pre, li, a {
    color: var(--color-theme-2);  
    font-family: serif;  
}

video {
    max-height: 600px;
}

footer {
    color: var(--color-theme-pink);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}