:root {
    --color-theme-1: #ff4000be;
	--color-theme-2: #40b3ff;
    --color-theme-darkblue: #16213E;
    --color-theme-blue: #0F3460;
    --color-theme-purple: #533483;
    --color-theme-pink: #ff7088;
}

/* #ff3e00 */

body {
	min-height: 100vh;
    min-width: 100vw;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-theme-darkblue);
}

main {
    scrollbar-base-color: #0F3460;
    min-height: 100vh;
    min-width: 100vw;
}

:global(h1, h2, h3, h4, h5) {
    color: var(--color-theme-pink);
}

:global(h1.light-mode, h2.light-mode, h3.light-mode, h4.light-mode, h5.light-mode) {
    color: var(--color-theme-darkblue);
}

p, pre, li, a, footer {
    color: var(--color-theme-2);  
    font-family: serif;  
}

:global(p.light-mode, pre.light-mode, li.light-mode, a.light-mode) {
    color: var(--color-theme-darkblue);  
    font-family: serif;  
}

footer {
    color: var(--color-theme-pink);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

video {
    border-radius: 5px;
    margin: 0.2em;
}

/* Media query */
/* For mobile phones: */
[class*="heading-photo"] {
    width: 80%;
}

[class*="heading-photo-img"] {
    width: 90%;
}

[class*="recording"] {
    max-width: 70vw;
}

[class*="imgcard"] {
    width: 90%;
}

[class*="projectImg"] {
    max-width: 100%;
	max-height: 100%;
}

@media only screen and (min-width: 850px) {
    /* For desktop: */
    .heading-photo {max-width: 30em;}
    .recording {
        max-width: 500px;
        max-height: 600px;
    }
    .imgcard {
        width: 400px;
        height: 400px;
    }

    .projectImg {
        max-width: 350px;
        max-height: 350px;
    }
}